.menu {
  list-style: none;
  padding-left: 0;

  border: 1px solid #bbb;
  max-width: 200px;

  border-radius: 5px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu .menu-item {
  padding: 10px;

  border-bottom: 1px solid #ccc;
}

.menu .menu-item:hover {
  background: #f3f3f3;

  cursor: pointer;
}

.menu .menu-item:last-child {
  border-bottom: none;
}
